In [5]:
import pandas as pd

In [11]:
df = pd.read_csv("answers.csv", index=True)

TypeError: read_csv() got an unexpected keyword argument 'index'

In [8]:
df.head()

,Unnamed: 0,qid,i,qs,qt,tags,qvc,qac,aid,j,as,at
0,1,563355,62701.0,0,1235000081,"php,error,gd,image-processing",220,2,563372,67183.0,2,1235000501
1,2,563355,62701.0,0,1235000081,"php,error,gd,image-processing",220,2,563374,66554.0,0,1235000551
2,3,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563358,15842.0,3,1235000177
3,4,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563413,893.0,18,1235001545
4,5,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563454,11649.0,4,1235002457

In [12]:
df.columns

Index(['Unnamed: 0', 'qid', 'i', 'qs', 'qt', 'tags', 'qvc', 'qac', 'aid', 'j',
       'as', 'at'],
      dtype='object')

In [9]:
df.shape

(263540, 12)

In [10]:
'''
qid: Unique question id
i: User id of questioner
qs: Score of the question
qt: Time of the question (in epoch time)
tags: a comma-separated list of the tags associated with the question. Examples of tags are ``html'', ``R'', ``mysql'', ``python'', and so on; often between two and six tags are used on each question.
qvc: Number of views of this question (at the time of the datadump)
qac: Number of answers for this question (at the time of the datadump)
aid: Unique answer id
j: User id of answerer
as: Score of the answer
at: Time of the answer

'''

"\nqid: Unique question id\ni: User id of questioner\nqs: Score of the question\nqt: Time of the question (in epoch time)\ntags: a comma-separated list of the tags associated with the question. Examples of tags are ``html'', ``R'', ``mysql'', ``python'', and so on; often between two and six tags are used on each question.\nqvc: Number of views of this question (at the time of the datadump)\nqac: Number of answers for this question (at the time of the datadump)\naid: Unique answer id\nj: User id of answerer\nas: Score of the answer\nat: Time of the answer\n\n"

In [ ]:
r